.top-header { 
    position: absolute;
    margin-top: -40px;
}
.contacts-head p {
    float: right;
}
.contacts-head a , p{
	color: #ffffff;
	padding-right: 5px;
}
.contacts-head i {
	padding-right: 5px;
}
.heder-topline {
	padding-top: 10px;
	padding-bottom: 10px;
}
.contacts-head a:hover {
	color: #D6C6BB;
	text-decoration: none;
}
.col-xs-12 {
    width: 33.33333333%;
    position: absolute;
    margin-left: 300px;
    color: #fff;
    top: 320px;
}
.col-md-8 {
	width: 33.33333333%;
    position: absolute;
    margin-left: 300px;
    color: #fff;
    top: 320px;
}


.col-xs-6  {
    width: 30%;
    position: absolute;
    top: 320px;
    margin-left: 706px;
}

.text {
    background-color: #4CAF50;
    width: 275px;
}
.smallText {
    margin-right: 180px;
    text-align: center;;
}
.btn-default {
    background-color: #4CAF50;
        margin-left: 46px;
}
.text2 {
  margin-left: 50px;
